@import url('https://fonts.googleapis.com/css?family=Comfortaa:700|Josefin+Sans:100|Khula:300|Montserrat:100|Nunito:200|Pangolin|Poiret+One|Work+Sans|Quattrocento+Sans');

// LOGO FONT
$comfortaa: 'Comfortaa', cursive;

// BUTTON FONT
$quattroCento: 'Quattrocento Sans', sans-serif;

// MAIN P TEXT FONT
$workSans: 'Work Sans', sans-serif;
