@import url('https://fonts.googleapis.com/css?family=Comfortaa:700|Work+Sans|Quattrocento+Sans');

// LOGO FONT
$comfortaa: 'Comfortaa', cursive;

// BUTTON FONT
$quattroCento: 'Quattrocento Sans', sans-serif;

// MAIN P TEXT FONT
$workSans: 'Work Sans', sans-serif;
