@import 'media';
@import 'fonts';
@import 'buttons';
@import 'colors';

@mixin cardShadow() {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

// SIGN UP AND LOG IN
.signup-form {
  margin: 0.5em;
  font-family: $workSans;
  @media screen and (min-width: $break-med-lg) {
    width: 80%;
    margin: 1em;
  }
}

.button-field {
  font-family: $quattroCento;
  @media screen and (min-width: $break-med-lg) {
    margin-right: 20%;
  }
}

a.splash-button, a.splash-button:hover {
  @include button($darkGray, $white);
}

a.splash-button:hover {
  background-color: $darkGrayHover;
}

// USER EDIT FORM
.user-form {
  height: 80vh;
  @include cardShadow();
  background-color: $white;
  margin: 2em;
  padding: 2em;

  p.user-name {
    display: block;
    text-align: center;
    font-size: 1.5em;
    margin: 20% 0 10%;
  }

  a.user-edit-button {
    @include button($darkGray, $white);
    width: 200px;
    padding-bottom: 1em;
  }
}

// NEW PRESENTATION
h3.form-title {
  font-family: $quattroCento;
  color: $blue
}

// NEW POLL

.poll-form {
  @include cardShadow();
  background-color: $white;
  margin: 2em;
  padding: 2em;
}

input.poll-question {
  margin-bottom: 2em;
  font-size: 1.8em;
}

.select-box {
  background-color: $offWhite;
  padding-left: 1em;
}

p.select-label {
  font-size: 0.8em;
  margin: 0;
}

.custom-select {
  font-size: 0.8em;
  margin: 0 auto 1em;
}

.feedback-type-explanation {
  p {
    font-size: 0.8em;
    color: $green;
  }
}

.poll-buttons {
  margin-top: 2em;
  padding-right: 2em;
}
