@import 'media';
@import 'fonts';
@import 'buttons';

// SIGN UP AND LOG IN

.signup-form {
  margin: 0.5em;
  font-family: $workSans;
  @media screen and (min-width: $break-med-lg) {
    width: 80%;
    margin: 1em;
  }
}

.button-field {
  font-family: $quattroCento;
  @media screen and (min-width: $break-med-lg) {
    margin-right: 20%;
  }
}

a.splash-button, a.splash-button:hover {
  @include button($darkGray, $white);
}

a.splash-button:hover {
  background-color: $darkGrayHover;
}

// NEW PRESENTATION
h3.form-title {
  font-family: $quattroCento;
  color: $blue
}
