@import 'colors';
@import 'fonts';

.splash {
  max-width: 800px;
  background-image: url('../assets/img/pencils.jpg');
  background-size: cover;
  box-shadow: 5px 5px 5px #555;
}

.display-3, .lead {
  color: white;
}

.display-3 {
  font-family: $comfortaa;
  -webkit-text-stroke: 1px $medGray;
}
