@import 'fonts';
@import 'colors';
@import 'media';

.sidebar {
  position: fixed;
  top: -20px;
  bottom: 0;
  left: 0;
  z-index: 1000;
  padding: 20px 0;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: $white;
}

.nav-logo-box {
  background-color: $medYellow;
  margin: 0;
  text-align: center;
  height: 80px;
}

a.nav-logo {
  font-family: $comfortaa;
  font-size: 3em;
  color: $white;
  -webkit-text-stroke: 1px $medGray;
  margin-left: -50px;
}

a.nav-logo:hover {
  text-decoration: none;
}

p.user-nav {
  display: inline-block;
  text-align: center;
  padding: 1em;
  font-size: 1em;
  color: $medGray;
}

.nav-list {
  list-style-type: none;
}

li.nav-item {
  font-family: $quattroCento;
  margin-bottom: 1.2em;
}

i.nav-icon {
  @media screen and (max-width: $break-tablet) {
    display: none;
  }
}
