@import 'buttons';
@import 'colors';
@import 'fonts';
@import 'media';

.slide-frame {
  .poll-question {
    h4 {
      color: $blue;
      font-size: 2.3em;
      margin-bottom: 1em;
    }
  }
  ol.answer-choices {
    li.answer-item {
      display: block;
      font-size: 2em;
      @include cardShadow();
      color: $medGray;
      padding: 0.2em;
      margin-left: -1em;
      @media screen and (min-width: $break-tablet) {
        padding: 0.4em;
        margin: 0.3em;
      }
    }
  }
  .edit-delete-poll-controls {
    a {
      color: $blue;
      font-size: 0.8em;
    }
  }
}

.participant-frame {
  max-width: 700px;
  @media screen and (min-width: $break-tablet) {
    margin-left: -50px;
  }
}

.slide-title {
  display: fixed;
  background-color: #ccc;
  min-height: 80px;
  padding: 1em;
}

.participant-poll-frame {
  margin-top: 1em;
  min-height: 80vh;
  padding: 2em;
  background-color: $white;
  @include cardShadow();
}
