@import 'buttons';
@import 'colors';
@import 'fonts';

@mixin cardShadow {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

@mixin cardShadowHover() {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.new-presentation-button-box {
  height: 80px;
  background-color: #ccc;
  width: 105%;
  margin-left: -10px;
  position: relative;
  top: 0;
  left: -20px;
  z-index: 999;
}

a.new-presentation-button {
  @include button($darkGray, $white);
  width: 250px;
  height: 60px;
  margin: 10px 0;
}

a.new-presentation-button:hover {
  background-color: $darkGrayHover;
}

// PRESENTATIONS LIST
.presentations-list-frame {
  margin-top: 90px;
  padding-right: 15px;
}

.presentation-list {

  list-style-type: none;

  .presentation-list-item {
    margin-bottom: 5px;
    background-color: $white;
    padding: 2em;
    @include cardShadow();
  }

  .presentation-list-item:hover {
    @include cardShadowHover();
  }

  h3.presentation-title {
    color: $blue;
    font-family: $quattroCento;

  }

   h3.presentation-title:hover {
    a {
        color: inherit;
      }
  }

  p.author {
    font-size: 0.8em;
    color: $lightGray;
  }

  .delete-icon {
    color: $lightGray;
  }

  .delete-icon:hover {
    color: $red;
  }
}

.create-presentations-message-box {
  background-color: $white;
  width: 90%;
  height: 90%;
  margin: 5%;
  padding: 10%;

  @include cardShadow();
  p {
    font-family: $workSans;
    font-size: 1.5em;

    p.smaller {
      font-size: 0.1em;
    }

    a {
      color: $blue;
      font-size: 1.0em;
    }
  }
}

//SHOW PRESENTATION STYLES
.new-presentation-button-box
h1.presentation-title {

}


//turns correct answer green
.correct {
  color: $green;
}
