@import 'nav';
@import 'home';
@import 'footer';
@import 'presentations';
@import 'forms';

//INDEX STYLES

html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  background-color: #ddd;
}
