@import 'nav';
@import 'home';
@import 'footer';
@import 'presentations';
@import 'forms';
@import 'colors';
@import 'media';

//INDEX STYLES

html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom for footer height */
  margin-bottom: 60px;
  background-color: $white;
}

// LINKS IN GENERAL

a {
  color: inherit;
}

a.traditional {
  color: $white;
  text-decoration: underline;
}

a.traditional:hover {
  color: red;
}
