@import 'media';
@import 'buttons';
@import 'colors';
@import 'fonts';
@import 'errors';
@import 'nav';
@import 'home';
@import 'footer';
@import 'presentations';
@import 'forms';
@import 'polls';
@import 'd3';

//INDEX STYLES

html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom for footer height */
  margin-bottom: 60px;
  background-color: $offWhite;
  font-family: $workSans;
}

.main-view {
  margin-left: 10px;
}

// TEXT P IN GENERAL
p {
  font-family: $workSans;
}

// HEADINGS IN GENERAL
@mixin quattroCento() {
  font-family: $quattroCento;
}

// LINKS IN GENERAL
a {
  color: inherit;
  text-decoration: none;
}
// HIGHLIGHTING LINKS
a.traditional {
  color: $white;
  text-decoration: underline;
}

a.traditional:hover {
  color: red;
}

// CANVAS AND QR MODAL
.qr-modal {
  text-align: center;
  h3.link-title {
    color: $blue;
    font-family: $quattroCento;
  }
  p#link {
    font-size: 2.7em;
    font-weight: bold;
    color: $blue;
  }
  canvas {
    width: 291px;
    margin: 0 auto;
  }
  button {
    @inlude button($darkGray, $white);
  }
}
