<footer class="footer">
  <script>
    var date = new Date();
    $('#copyrightDate').text(date.getFullYear());
  </script>
  <div class="container">
    <p class="footer-text">&copy; <span id="copyrightDate"></span> <a class="footer-link traditional  " href="https://github.com/jsheridanwells" target="_blank">
      Jeremy Sheridan Wells</a>
      &nbsp;&nbsp;|&nbsp;&nbsp;
      <a class="footer-link traditional" href="https://github.com/jsheridanwells/LivePolling" target="_blank">Check out the source code.</a>
    </p>
  </div>
</footer>
