<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <i class="fa fa-times fa-2x" aria-hidden="true"></i>
        </button>
      </div>
      <div class="modal-body d-flex flex-column justify-content-center qr-modal">
        <p id="link"></p>
        <canvas id="qr"></canvas>
      </div>
      <div class="modal-footer">
        <a href="#" role="button" class="new-presentation-button" data-dismiss="modal">Close</a>
      </div>
    </div>
  </div>
</div>
