<div class="side-nav" ng-controller="navCtrl">
  <div class="nav-logo-box">
    <a class="nav-logo ml-3" href="#!/presentations">LP</a>
  </div>
  <p class="user-nav">Hello, {{user.firstName}}</p>
  <ul class="nav-list flex-column ml-2 mt-5">
    <li class="nav-item">
      <i class="fa fa-desktop nav-icon" aria-hidden="true"></i>&nbsp;&nbsp;
      <a ng-href="#!/presentations">My Presentations</a>
    </li>
    <li class="nav-item">
      <i class="fa fa-user nav-icon" aria-hidden="true"></i>&nbsp;&nbsp;
      <a ng-href="#!/user">My Profile</a>
    </li>
    <li class="nav-item">
      <i class="fa fa-sign-out nav-icon" aria-hidden="true"></i>&nbsp;&nbsp;
      <a href="" ng-click="logOut()">Log Out</a>
    </li>
  </ul>
</div>
