<div class="container">
  <!-- PRESENTATION TITLE  -->
  <div class="poll-title">
    <h3>{{currentPresentation.title}}: New Poll</h3>
  </div>
  <div class="row">
    <div class="col-md-8">
      <div class="poll-body">
        <!-- ENTER THE POLL QUESTION -->
        <div class="form-group">
          <input type="text" class="form-control poll-question" placeholder="Question" ng-model="poll.content">
        </div>
        <!-- IF MULTIPLE CHOICE -->
        <div class="form-group" ng-if="poll.response_type == 1">
          <p>Answer Items:</p>
          <div ng-repeat=" item in multipleChoice ">
            <div class="input-group">
              <input type="text" class="form-control" ng-model="item.content">
              <span class="input-group-addon" ng-click="removeItem($index)"> X </span>
            </div>
          </div>
          <div class="add-item-frame">
            <a href="" ng-click="addItem()" class="float-right">+ Add Item </a>
          </div>
        </div>
        <!-- IF TRUE FALSE -->
        <div ng-if="poll.response_type == 2">
          <div class="form-check">
            <label for="true" class="form-check-label">
              <input class="form-check-input"type="checkbox" name="true" disabled>
              True
            </label>
          </div>
          <div class="form-check">
            <label for="false" class="form-check-label">
              <input class="form-check-input"type="checkbox" name="false" disabled>
              False
            </label>
          </div>
        </div>
        <!-- IF WRITTEN RESPONSE -->
        <div ng-if="poll.response_type == 3">
          <textarea name="written-response-box" id="" cols="30" rows="10" placeholder="The audience's written responses will go here" readonly></textarea>
        </div>
        <!-- SUBMIT BUTTON -->
        <div class="poll-buttons">
          <button class="btn btn-primary" ng-click="createPoll()">Create Poll</button>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <!-- SELECT RESPONSE TYPE -->
      <div class="poll-selector-box">
        <h5>Response Type:</h5>
        <select class="custom-select" ng-model="poll.response_type">
          <option value="1">Multiple Choice</option>
          <option value="2">True / False</option>
          <option value="3">Written Response</option>
        </select>
      </div>
      <!-- SELECT FEEDBACK TYPE -->
      <div class="poll-selector-box">
        <h5>Feedback Type:</h5>
        <select class="custom-select" ng-model="poll.feedback_type">
          <option value="1">Live Results</option>
          <option value="2">Results on Next Slide</option>
          <option value="3">Do Not Show Results</option>s
        </select>
        <!-- DESCRIPTIONS OF FEEDBACK TYPES -->
        <div class="feedback-type-explanation">
          <p ng-if="poll.feedback_type == 1">
            The audience will see the results of the poll as it is being displayed.
          </p>
          <p ng-if="poll.feedback_type == 2">The audience will see the poll after all responses have been submitted.</p>
          <p ng-if="poll.feedbackType == 3">The results of this poll will not be shown to the audience.</p>
        </div>
      </div>
    </div>
  </div>
  </div>

</div>
