<div class="presentations-partial">
  <div class="new-presentation-button-box">

  </div>
  <div class="presentations-list-frame">
    <div class="create-presentations-message-box">
      <h3 class="form-title">Create a New Presentation</h2>
      <div class="form-group">
        <label for="new-presentation-title">Presentation Title:</label>
        <input type="text" class="form-control" name="new-presentation-title" ng-model="object.presentation.title">
      </div>
      <div class="button-field d-flex justify-content-end">
        <a class="new-presentation-button" href="" ng-click="createPresentation()">
          Create Presentation
        </a>
      </div>
    </div>
  </div>
</div>
