<div class="presentations-partial">
  <div class="new-presentation-button-box">

  </div>
  <div class="presentations-list-frame">
    <div ng-if="formError" class="flash-space">
    <!-- SPACE FOR ERROR MESSAGES -->
      <div class="close">
        <span ng-click="clearErrors()">
          <i class="fa fa-times" aria-hidden="true"></i>
        </span>
      </div>
      <h3 class="error-title">
        Whoops!
      </h3>
      <p class="error-text">
        We can't make your presentation yet. Please fix the following errors:
      </p>
      <div ng-repeat=" errorType in errors.types ">
        <p class="error-text ml-5">
          {{errorType}}:
          <span ng-repeat=" error in errors.values[$index] ">
            {{error}},
          </span>
        </p>
      </div>
    </div>
    <div class="create-presentations-message-box">
      <h3 class="form-title">Create a New Presentation</h2>
      <div class="form-group">
        <label for="new-presentation-title">Presentation Title:</label>
        <input type="text" class="form-control" name="new-presentation-title" ng-model="object.presentation.title">
      </div>
      <div class="button-field d-flex justify-content-end">
        <a class="new-presentation-button" href="" ng-click="createPresentation()">
          Create Presentation
        </a>
      </div>
    </div>
  </div>
</div>
