<div class="row presentation-button-box d-flex">
    <div class="col-md-7 col-sm-6 justify-content-center align-self-center">
      <!-- PRESENTATION TITLE -->
      <!-- IF EDIT-TITLE IS FALSE, SHOW TITLE -->
      <div ng-if="!editTitle">
        <h1 class="presentation-title" ng-click=" toggleEditTitle() ">
          {{currentPresentation.title}}
        </h1>
      </div>
      <!-- IF EDIT-TITLE IS TRUE, SHOW INPUT -->
      <div ng-if="editTitle">
        <input type="text" class="title-input" ng-model=" currentPresentation.title " ng-keyup=" $event.keyCode == 13 ? updatePresentation() : null ">
      </div>
    </div>
    <div class="col-md-5 col-sm-6 justify-content-center align-self-center">
      <ul class="presentation-buttons d-flex mr-2">
        <!-- ADD A POLL -->
        <li class="presentation-button">
          <a href="" ng-click="showPollForm('new')">
            <i class="fa fa-th-list fa-3x" aria-hidden="true"></i><br>
            Add Poll
          </a>
        </li>
        <li class="presentation-button">
          <!-- IF THERE ARE NO POLLS, DISABLE BROADCAST -->
          <div ng-if=" currentPresentation.polls.length == 0 ">
            <span class="disabled-button">
              <i class="fa fa-eye fa-3x" aria-hidden="true"></i><br>
              Broadcast
            </span>
          </div>
          <!-- IF THERE ARE POLLS, ENABLE BROADCAST -->
          <div ng-if=" currentPresentation.polls.length > 0 ">
            <!-- BROADCAST -->
            <div ng-if="!currentPresentation.broadcasting">
              <a href="" ng-click="broadcast()">
                <i class="fa fa-eye fa-3x" aria-hidden="true"></i><br>
                Broadcast
              </a>
            </div>
            <!-- END THE BROADCAST -->
            <div ng-if="currentPresentation.broadcasting">
              <a href="" ng-click="broadcast()">
                <i class="fa fa-eye-slash fa-3x" aria-hidden="true"></i><br>
                End Broadcast
              </a>
            </div>
          </div>
        </li>
        <!-- SHARE LINK -->
        <li class="presentation-button">
          <a href="" data-toggle="modal" data-target="#qr-link-modal">
            <i class="fa fa-share-alt fa-3x" aria-hidden="true"></i><br>
            Share Link
          </a>
        </li>
        <!-- SEE RESULTS -->
        <li class="presentation-button">
          <!-- IF THERE ARE NO POLLS, DISABLE RESPONSES -->
          <div ng-if=" currentPresentation.polls.length == 0 ">
            <span class="disabled-button">
              <i class="fa fa-line-chart fa-3x" aria-hidden="true"></i><br>
              Show Responses
            </span>
          </div>
          <!-- IF THERE ARE POLLS, ENABLE RESPONSES -->
          <div ng-if=" currentPresentation.polls.length > 0 ">
            <a href="" ng-click="toggleDataView()">
              <i class="fa fa-line-chart fa-3x" aria-hidden="true"></i><br>
              <span ng-if=" !dataView ">Show Responses</span>
              <span ng-if=" dataView ">Hide Responses</span>
            </a>
          </div>
        </li>
      </ul>
    </div>
  </div>
