<div class="container">
  <div class="new-presentation-button">
    <p class="presentation-button"><a ng-href="#!/new-presentation"> + New Presentation</a></p>
  </div>
  <ul class="presentation-list">
    <li class="presentation-list-item" ng-repeat="presentation in presentations">
      <h3>
        <a ng-href="#!/presentations/{{presentation.id}}">
          {{presentation.title}}
        </a>
      </h3>
      <p>
        <a href="" ng-click="deletePresentation(presentation.id)"> X Delete</a>
      </p>
    </li>
  </ul>
</div>
