
  <h3>{{currentPresentation.title}}</h3>
  <p><a href="" ng-click="broadcast()">Broadcast</a></p>
  <div id="presentation-frame">
    <div class="row">
      <div class="col-md-1">
        <p><a href="" ng-click="prevSlide()">Previous</a></p>
      </div>
      <div class="col-md-8 slide-frame">
        <div class="poll-question">
          <p>{{currentPresentation.polls[count].content}}</p>
          <ul ng-repeat="item in currentPresentation.polls[count].items">
            <li>{{item.content}}</li>
          </ul>
        </div>
      </div>
      <div class="col-md-2">
        <p>
          <a ng-href="#!/new-poll/{{currentPresentation.id}}">
            + Add Poll
          </a>
        </p>
      </div>
      <div class="col-md-1">
        <p><a href="" ng-click="nextSlide()">Next</a></p>
      </div>
    </div>
  </div>
