<!-- SLIDE FRAME -->
<div class="slide-frame">
  <!-- VIEW FOR LIVE RESULTS AND NO RESULTS -->
  <div ng-if=" (currentPresentation.polls[currentPresentation.current_slide].feedback_type != 2) ">
    <!-- POLL QUESTION -->
    <div class="poll-question">
      <h4>
        {{currentPresentation.polls[currentPresentation.current_slide].content}}
      </h4>
    </div>
     <!-- ANSWER ITEMS | PERCENTAGE OF RESPONSES -->
     <ul class="answer-choices" ng-repeat="item in currentPresentation.polls[currentPresentation.current_slide].items">
       <li class="answer-item">
        {{item.content}}
        <span ng-if=" (currentPresentation.polls[currentPresentation.current_slide].feedback_type == 1) ">
          <span ng-if="(responsePercentageArr[$index] !== NaN)">{{responsePercentageArr[$index]}}</span>
        </span>
       </li>
     </ul>

      <!-- D3 DIRECTIVE -->
      <!-- <div id="bar-chart-box" bar-chart data="responseArr"></div> -->

  </div>
 <!-- VIEW FOR RESULTS ON NEXT SLIDE -->
  <div ng-if=" (currentPresentation.polls[currentPresentation.current_slide].feedback_type == 2) ">
    <!-- POLL QUESTION -->
    <div class="poll-question">
      <h4>
        {{currentPresentation.polls[currentPresentation.current_slide].content}}
      </h4>
    </div>
     <!-- ANSWER ITEMS | PERCENTAGE OF RESPONSES -->
     <ul class="answer-choices" ng-repeat="item in currentPresentation.polls[currentPresentation.current_slide].items">
      <div>

      </div>
       <li class="answer-item" ng-class=" (resultsVisible && item.correct) ? 'correct' : '' ">
        {{item.content}}
        <span ng-if=" resultsVisible ">
          <span ng-if="(responsePercentageArr[$index] !== NaN)">{{responsePercentageArr[$index]}}</span>
        </span>
       </li>
     </ul>
     <div class="show-results-button">
       <button ng-click="showResults()">Show Results</button>
     </div>
  </div>
  <div class="edit-delete-poll-controls d-flex justify-content-end">
    <!-- DISABLE EDITING UNTIL WE CAN FIX THE NESTED_ATTRIBUTES PROBLEM -->
    <a ng-href="#!/edit-poll/{{currentPresentation.id}}/{{currentPresentation.polls[currentPresentation.current_slide].id}}">Edit</a> |
    <!-- <a class="edit-delete-buttons" href="">Edit</a>&nbsp;&nbsp;|&nbsp;&nbsp; -->
    <a class="edit-delete-buttons" href="" ng-click="deletePoll(currentPresentation.polls[currentPresentation.current_slide].id)">Delete</a>
  </div>
</div>
