<div class="presentation-nav"></div>
<div class="container participant-frame">
  <!-- PRESENTATION TITLE -->
  <div class="slide-title d-flex justify-content-center">
    <h3 class="presentation-title">
      <!-- TITLE GOES HERE -->
      {{title}}
    </h3>
  </div>

  <!-- SLIDE FRAME -->
  <div class="participant-poll-frame">
    <div class="slide-frame">
      <!-- POLL QUESTION -->
      <div class="poll-question">
        <!-- QUESTION GOES HERE -->
        <p>
          <span ng-if=" message ">{{ message }}</span>
          {{currentPresentation.current_poll}}
        </p>
      </div>
      <div ng-if=" currentPresentation.current_poll_response_type != 3 ">
         <!-- ACTIVE ANSWER ITEMS -->
         <div ng-if="activated">
           <ol class="answer-choices">
            <a href="" class="participant-answer-click" ng-click="respond(item.id)" ng-repeat="item in currentPresentation.items">
             <li class="answer-item participant-answer-item">
              <!-- ANSWER ITEM GOES HERE -->
              {{item.content}}
             </li>
            </a>
           </ul>
         </div>
         <!-- DISABLED ANSWER ITEMS -->
         <div ng-if="!activated">
           <ol class="answer-choices">
             <li class="answer-item" ng-repeat="item in currentPresentation.items">
              <!-- ANSWER ITEM GOES HERE -->
              {{item.content}}
             </li>
           </ul>
           <div class="response-confirmation">
             <p>Your response has been recorded.</p>
           </div>
         </div>
      </div>
      <!-- <div ng-if=" currentPresentation.current_poll_response_type == 3 ">
        <div ng-if="activated">
          <div class="response-text-area">
            <textarea id="" cols="30" rows="10" ng-model="response.written"></textarea>
          </div>
          <div class="response-text-area-button">
            <button class="btn btn-primary" ng-click="respond(currentPresentation.items[0].id)">Send Response</button>
          </div>
        </div>
        <div ng-if="!activated">
          <p>Your response has been sent.</p>
          <p>{{response.written}}</p>
        </div>
      </div> -->
    </div>
  </div>
  <div class="participant-footer">
    <p>
      Like what you see?
      <a ng-href="http://jeremywells.io/live-polling/#!/signup" target="_blank">
        Give LivePolling a try!
      </a>
    </p>
  </div>
</div>
