<div class="presentation-nav"></div>

<!-- PRESENTATION TITLE -->
<div class="slide-title">
  <h3 class="presentation-title">
    <!-- TITLE GOES HERE -->
  </h3>
</div>

<!-- SLIDE FRAME -->
<div class="slide-frame">
  <!-- POLL QUESTION -->
  <div class="poll-question">
    <h4>

      <!-- QUESTION GOES HERE -->

    </h4>
  </div>
   <!-- ANSWER ITEMS -->
   <ul class="answer-choices" ng-repeat="">
    <a href="" ng-click="">
     <li class="answer-item">
      <!-- ANSWER ITEM GOES HERE -->
     </li>
    </a>
   </ul>
</div>
