<div class="container">
  <div id="home">
    <div class="jumbotron mt-5 splash">
      <h1 class="display-3">LivePolling</h1>
      <div class="form-group">
        <input type="text" class="form-control signup-form" ng-model="user.firstName" placeholder="First Name">
        <input type="text" class="form-control signup-form" ng-model="user.lastName" placeholder="Last Name">
        <input type="email" class="form-control signup-form" ng-model="user.email" placeholder="Email">
        <input type="password" class="form-control signup-form" ng-model="user.password" placeholder="Password">
        <input type="password" class="form-control signup-form" ng-model="user.passwordConfirmation" placeholder="Password Confirmation">
        <button class="btn btn-primary sign-up-btn" ng-click="signUp()">Sign Up</button>
      </div>
      <div class="login-redirect">
        <p class="redirect-text">
          Already have an account? <a ng-href="#!/login">Log in here</a>.
        </p>
      </div>
    </div>
  </div>
</div>
