<div class="presentation-partial">
  <div class="row presentation-button-box d-flex">
    <div class="col-11 align-self-center">

    </div>
    <div class="col-1 justify-content-center align-self-center" ng-if=" edit ">
      <a href="" ng-click="toggleEdit()">
        <i class="fa fa-times fa-2x" aria-hidden="true"></i>
      </a>
    </div>
  </div>
  <div class="presentations-list-frame">
    <div class="user-form">
      <div ng-if=" !edit ">
        <h2>You are currently logged in as:</h2>
        <p class="user-name align-self-center">
          {{user.firstName}}  {{user.lastName}} <br>
          {{user.email}}
        </p>
        <div class="button d-flex justify-content-end">
          <a href="" class="user-edit-button" ng-click="toggleEdit()">
            <i class="fa fa-pencil fa-2x" aria-hidden="true"></i>
            Edit Profile
          </a>
        </div>
      </div>
      <div ng-if=" edit ">
        <h2>
          Edit Your Information
        </h2>
        <div class="form-group">
        <input type="text" class="form-control signup-form" ng-model="user.firstName" placeholder="First Name">
        <input type="text" class="form-control signup-form" ng-model="user.lastName" placeholder="Last Name">
        <input type="email" class="form-control signup-form" ng-model="user.email" placeholder="Email">
        <input type="password" class="form-control signup-form" ng-model="user.password" placeholder="New Password">
        <input type="password" class="form-control signup-form" ng-model="user.passwordConfirmation" placeholder="New Password Confirmation">
        <div class="button-field d-flex justify-content-end">
          <a href="" class="user-edit-button" ng-click=" update() ">Update</a>
        </div>
      </div>

      </div>
    </div>
  </div>
</div>
